POSTGRES_USER=216chan
POSTGRES_PASSWORD=projectisgayCHANGEME
POSTGRES_DB=216chan_db
POSTGRES_PORT=5432
DATABASE_URL=postgres://216chan:projectisgayCHANGEME@localhost:5432/216chan_db?sslmode=disable

BACKEND_PORT=8080
JWT_SECRET=setthisinprodprojectaaychek

VITE_API_URL=http://localhost:8080/api
