@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eae9d9;
  font-family: 'Space Mono', monospace;
  font-size: 13px;
  color: #800000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
